.banner {
    height: 100vh;
    background-image: url(../images/banner-img.jpg);
    display: flex;
    align-items: center;
}

.banner-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-picture{
    width: 40%;
}

.banner-description {
    width: 40%;
    background-color: #fff;
    padding: 72px 42px 50px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}

.description-title-block {
    margin: 0 0 34px;
}

.description-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    color: $color-red;
    margin: 0 0 32px;
}

.description-title-sign {
    font-size: 14px;
    margin: 0 0 30px;
}

.description-txt {
    margin: 0 0 40px;
}

.description-button {
    text-align: center;
    a {
        font-size: 16px;
        padding: 11px 23px;
    }
}
