#delivery {
    background: #5d5d5d url(../images/deliv-bg.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    padding: 3% 0;
}

#delivery .section-title-block {
    color: #fff;
    .section-title {
        margin: 0 0 34px;
    }
    .underline {
        background-color: #fff;
        margin: 0 0 37px;
    }
    .section-title-txt {
        font-size: 14px;
    }
}

.delivery-info-pic{
    margin: 0 0 30px;
}

.delivery-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.delivery-txt {
    width: 45%;
    padding: 5% 0 0;
}

.delivery-pic{
    width: 40%;
}

.delivery-info-list {
    margin: 0;
    padding: 0 16px;
}

.delivery-info-item {
    font-size: 17px;
    font-weight: bold;
}

.info-item-title {
    margin: 0 0 8px;
}

.info-item-txt {
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 8px -16px;
}
