.footer {
    background-color: #333;
    color: #fff;
}

.footer-top-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-top {
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0 4%;
    @include media('<tablet'){
        font-size: 26px;
        flex-direction: column;
    }
    .button a {
        font-size: 16px;
        padding: 10px 70px;
    }
}

.footer-top-adv {
    width: 54%;
    line-height: 42px;
    @include media('<tablet'){
        width: 100%;
    }
    @include media('<=phone'){
        line-height: 24px;
    }
}

.footer-bottom{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media('<=phone'){
        flex-direction: column;
    }
}

.footer-bottom-txt{
    font-size: 14px;
}