#galery {
    padding: 8% 0 11%;
    .section-title-block {
        text-align: center;
        margin: 0 0 11%;
        @include media ('<desktop') {
            margin: 0 0 20px;
        }
        @include media ('<=tablet') {
            padding: 92px 0;
        }
    }
    .underline-center {
        margin: 0 auto 36px;
        width: 150px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.3);
        @include media ('<desktop') {
            margin: 0 auto 10px;
        }
    }
    .section-title {
        margin: 0 0 32px;
        @include media ('<desktop') {
            margin: 0 0 10px;
        }
    }
    .section-title-txt {
        font-size: 16px;
        color: #8e8e8e;
    }
}

.galery-photo-holder {
    margin: 0 auto;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 30px;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    @include media ('<=tablet') {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-gap: 20px;
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
    }
    @include media ('<=phone') {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-gap: 10px;
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
    }
}

.galery-photo-1 {
    position: relative;
    margin: 0 0 30px;
    @include media ('<=tablet') {
        margin: 0 0 20px;
    }
    @include media ('<=phone') {
        margin: 0 0 10px;
    }
    a {
        display: block;
    }
    &:hover ~ .icon-magnifying-glass {
        opacity: 1;
    }
}

.galery-photo-2 {
    position: relative;
    margin: 0 0 30px;
    @include media ('<=tablet') {
        margin: 0 0 20px;
    }
    @include media ('<=phone') {
        margin: 0 0 10px;
    }
    a {
        display: block;
    }
}

.icon-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    font-size: 48px;
    display: block;
    z-index: 5;
}

.fancybox:hover ~ .icon-magnifying-glass {
    opacity: 1;
}
