#testimonials {
    padding: 8% 0 11%;
    background-color: #e8e8e8;
    .section-title-block {
        text-align: center;
        margin: 0 0 11%;
        @include media ('<=900px') {
            margin: 0 0 20px;
        }
        @include media ('<=tablet'){
            padding: 116px 0;
        }
    }
    .underline-center {
        margin: 0 auto 32px;
        width: 150px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.3);
        @include media ('<=900px') {
            margin: 0 auto 10px;
        }
    }
    .section-title {
        margin: 0 0 32px;
        @include media ('<=900px') {
            margin: 0 0 10px;
        }
    }
    .section-title-txt {
        font-size: 15px;
        color: #8e8e8e;
    }
}

.review-slider {
    max-width: 432px;
    margin: 0 auto 20px;
    background-color: #fff;
    background-image: url(../images/review-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    padding: 4% 9%;
    position: relative;

}

.review-holder {
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

.review-avatar-holder {
    height: 104px;
    width: 104px;
    margin: 0 auto 22px;
}

.review-txt {
    margin: 0 0 16px;
}

.review-txt-name {
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
}

#testimonials {
    .slick-dots {
        bottom: -15%;
        left: 40%;
        padding: 0;
    }

    .slick-dots li {
        width: 10px;
        height: 10px;
        border: 4px solid transparent;
        text-indent: -9999px;
        background-color: #fff;
        border-radius: 50%;
        &.slick-active {
            background-color: #b8b8b8;
        }
        &:hover {
            border: 4px solid #b8b8b8;
            background-color: #b8b8b8;
        }
    }
}

.prev-arrow {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    left: -50%;
    cursor: pointer;
    @include media ('<=900px') {
        left: -20%;
    }
    @include media ('<=620px'){
        top: 2%;
        left: 2%;
    }
    .left-arrow {
        width: 20px;
        height: 20px;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        transform: rotate(-45deg);
        position: absolute;
        top: 35%;
        left: 40%;
    }
}

.next-arrow {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    top: 50%;
    right: -50%;
    cursor: pointer;
    @include media ('<=900px') {
        right: -20%;
    }
    @include media ('<=620px'){
        top: 2%;
        right: 2%;
    }
    .right-arrow {
        width: 20px;
        height: 20px;
        border-top: 2px solid #000;
        border-left: 2px solid #000;
        transform: rotate(135deg);
        position: absolute;
        top: 35%;
        right: 40%;
    }
}
