.advantages-pic [class^="icon-"] {
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 7px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}

.top-back-wrapper {
    cursor: pointer;
    position: absolute;
    top: 15%;
    left: 8%;
    &:hover .top-back-hover {
        display: block;
    }
    @include media('<tablet'){
        display: none;
    }
}

.top-back {
    padding: 5px;
    border-radius: 50%;
    &:hover {
        border: 1px solid #fff;
        & [class^='icon-'] {
            background-color: #fff;
            color: #000;
        }
    }
}

.top-back-hover {
    display: none;
    position: absolute;
    top: 100%;
    right: 68%;
    &:after {
        content: '';
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        height: 13%;
        width: 41%;
        position: absolute;
        top: 0%;
        right: -3%;
        @include media('<=tablet') {
            width: 29%;
        }
    }
}

.top-front-wrapper {
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 50%;
    &:hover .top-front-hover {
        display: block;
    }
    @include media('<tablet'){
        display: none;
    }
}

.top-front {
    padding: 5px;
    border-radius: 50%;
    &:hover {
        border: 1px solid #fff;
        & [class^='icon-'] {
            background-color: #fff;
            color: #000;
        }
    }
}

.top-front-hover {
    display: none;
    position: absolute;
    top: 8%;
    left: 300%;
    @include media('<=desktop') {
        top: -80%;
        left: 218%;
    }
    &:after {
        content: '';
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        height: 0;
        width: 31%;
        position: absolute;
        top: 12%;
        left: -31%;
        @include media('<=desktop') {
            width: 26%;
            left: -26%;
            height: 13%;
        }
        @include media('<=tablet') {
            width: 31%;
            left: -31%;
        }
    }
}

.back-wrapper {
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 6%;
    &:hover .back-hover {
        display: block;
    }
    @include media('<tablet'){
        display: none;
    }
}

.back {
    padding: 5px;
    border-radius: 50%;
    &:hover {
        border: 1px solid #fff;
        & [class^='icon-'] {
            background-color: #fff;
            color: #000;
        }
    }
}

.back-hover {
    display: none;
    position: absolute;
    bottom: 50%;
    right: 40%;
    &:after {
        content: '';
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        height: 72%;
        width: 37%;
        position: absolute;
        top: 12%;
        right: 1%;
        @include media('<=tablet') {
            width: 24%;
        }
    }
}

.front-wrapper {
    cursor: pointer;
    position: absolute;
    bottom: 35%;
    right: 7%;
    &:hover .front-hover {
        display: block;
    }
    @include media('<tablet'){
        display: none;
    }
}

.front {
    padding: 5px;
    border-radius: 50%;
    &:hover {
        border: 1px solid #fff;
        & [class^='icon-'] {
            background-color: #fff;
            color: #000;
        }
    }
}

.front-hover {
    display: none;
    position: absolute;
    top: 400%;
    right: -300%;
    @include media('<=desktop') {
        top: 375%;
        right: -120%;
    }
    @include media('<=tablet') {
        top: 295%;
    }
    &:after {
        content: '';
        border-right: 1px solid #000;
        height: 95%;
        width: 0;
        position: absolute;
        bottom: 100%;
        left: 44%;
        @include media('<=desktop') {
            border-bottom: 1px solid #000;
            height: 99%;
            width: 12%;
            bottom: 88%;
            left: 62%;
        }
        @include media('<=tablet') {
            height: 66%;
            width: 0;
            bottom: 100%;
            left: 68%;
        }
    }
}

.bottom-wrapper {
    cursor: pointer;
    position: absolute;
    bottom: 12%;
    left: 15%;
    &:hover .bottom-hover {
        display: block;
    }
    @include media('<tablet'){
        display: none;
    }
}

.bottom {
    padding: 5px;
    border-radius: 50%;
    &:hover {
        border: 1px solid #fff;
        & [class^='icon-'] {
            background-color: #fff;
            color: #000;
        }
    }
}

.bottom-hover {
    display: none;
    position: absolute;
    top: 100%;
    right: 20%;
    &:after {
        content: '';
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        height: 12%;
        width: 33%;
        position: absolute;
        bottom: 88%;
        right: 5%;
        @include media('<=tablet') {
            width: 20%;
        }
    }
}

.hover-block {
    width: 240px;
    @include media('<=tablet') {
        width: 200px;
        font-size: 14px;
    }
}

.hover-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 5px 35px;
    display: inline-block;
    border: 1px solid;
    margin: 0 0 14px;
    @include media('<=tablet') {
        margin: 0 0 5px;
    }
}
