.button {
    a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #c41230;
        padding: 6px 18px;
        border-radius: 22px;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        &:hover{
            background-color: mix(black, #c41230, 15%);
        }
    }
}
.button-wrapper{
    margin: 0 0 0 34px;
}